{#-  standard.html

    Template for the report content. It uses modules object to fill
    automatically the HTML page.
#}
{%- extends 'base.html' %}

{%- block title %}
  {{ module.title }}
{%- endblock %}

{%- block content %}
  {{ module.intro if module.intro }}
  {%- for section in module.sections %}
  <div id="{{ section["anchor"] }}" style="clear:both">
    {%- if section["name"] %}
      <h2 id="{{ section["anchor"] }}">{{ section["name"] }}
        <div style="float:right">{{ section["title_links"] }}</div>
      </h2>
    {%- endif %}
    {{ section["content"] }}
  </div>
  {%- endfor %}
{%- endblock %}
