include examples/*
recursive-exclude * __pycache__
recursive-exclude * *pyc
recursive-include * *rules
include requirements*txt
include CONTRIBUTING.rst
include LICENSE
include README.rst
recursive-exclude sequana/methylation *
recursive-exclude test *
exclude sequana/rm2.py
