bcftools
bedtools
bleach
bowtie
bowtie2
bwa
cutadapt
dsrc
fastq-screen
fastqc==0.11.5
freebayes
khmer
kraken==1.1
krona
shustring
picard
pigz
pbzip2==1.1.13
prokka
samtools
sambamba
snpeff
spades
star
subread
multiqc==1.0
