atropos==1.0.23
bcftools
bedtools
bleach
bowtie
bowtie2
busco==3.0.2
bwa
canu
cutadapt
fastq-screen
freebayes
khmer
kraken
krona
shustring
fastqc
picard
pigz
prokka
samtools
sambamba
snpeff
spades
star
subread
multiqc
# prokka
