atropos==1.1.16
bioservices>=1.4.14
biokit>=0.4.2
colorlog>=3.1.0
docutils
easydev>=0.9.36
# issue on RTD so no version
#matplotlib>=2.1.2
matplotlib
mock
multiqc==1.0
pandas>=0.22
pygraphviz
psutil
pykwalify
pyVCF
pysam
qtconsole
ruamel.yaml
snakemake==4.5.0
