atropos==1.1.16
bioservices>=1.4.14
biokit>=0.4.1
colorlog
docutils
easydev>=0.9.36
matplotlib>=2.0.0
mock
multiqc==1.0
pandas
pygraphviz
psutil
pykwalify
pyVCF
pysam==0.12.0.1
qtconsole
ruamel.yaml<=0.15.0
snakemake==4.4.0
