{% extends "base.html" %}
{% block content %}

<!--    <div class="contents local topic" id="contents">
        <ul class="simple">
            <li> 1 - <a class="reference internal" href="#Stats" id="id1">
                Stats</a></li>
            <li> 2 - <a class="reference internal" href="#Dependencies"
                id="id11">Dependencies</a> </li>
        </ul>
    </div>
-->

    <div class="section" id="Input">
    <h2> 1 -  <a class="toc-backref" href="#id1">Input</a></h2>
    {{ dataset }}
    </div>

    <div class="section" id="Snakefile">
        <h2> 2 -  <a class="toc-backref" href="#id2">Snakefile</a></h2>

        <object data="dag.svg" type="image/svg+xml">
        <img src="dag.svg">
        </object>

        <div id="1">
        <a href="#1" class="show_hide">Show/hide Snakemake file</a>
        <div class="slidingDiv">
        <pre><code class="python">{{ snakefile }}</code></pre>
        </div>
    
        <div id="2">
        <a href="#2" class="show_hideC">Show/hide config file</a>
        <div class="slidingDivC">
        <pre><code class="yaml">{{ config }}</code></pre>
        </div>
    </div>

    {% if snakemake_stats %}
    <div class="section" id="stats">
        <h2> 3 -  <a class="toc-backref" href="#id3">Runinng Stats</a></h2>
        <img src="{{ snakemake_stats }}"></img>
    </div>
    {% endif %}

    {% if dependencies %}
    <div class="section" id="dependencies">
        <h2> 3 -  <a class="toc-backref" href="#id4">Dependencies</a></h2>
        Dependencies downloaded from <b><a href="http://pypi.python.org">Pypi</a></b>
        {{ dependencies }}
        <hr>
        Dependencies downloaded from bioconda <b><a href="requirements.txt">requirements</a></b>

    </div>
    {% endif %}



{% endblock %}

