{#  content.html

    Template for the report content. It uses modules object to fill
    automatically the HTML page.
#}

<h1>Freebayes Parameters</h1>
<p>All filters parameters used is presented in this list:</p>
<ul>
    <li>freebayes_score: {{ module.vcf.vcf.filters_params['freebayes_score'] }}</li>
    <li>min_depth: {{ module.vcf.vcf.filters_params['min_depth'] }}</li>
</ul>
<p>Note:</p>
<ul>
    <li>freebayes_score: can be understood as 1-P(locus is homozygous given the data)</li>
    <li>min_depth: minimum alternate allele present</li>
</ul>
<h1>Variants Table</h1>
<script type="text/javascript">
    $(document).ready(function(){
        var table = $('#joint_calling').DataTable({
            'scrollX': true,
            'pageLength': 15,
            'scrollCollapse': true,
            'dom': 'Bfrtip',
            'buttons': ['copy', 'csv'],
        });
        $(".myCheckbox").click(function(){
            var column = table.column(':contains(' + $(this).text().replace(/^\s+|\s+$/g, '') + ')');
            column.visible( ! column.visible() );
        });
    });
</script>

{# create buttons to hide some samples #}
<p>Select samples to show or hide:</p>
<div class="btn-group" data-toggle="buttons">
    {%- for sample in module.vcf.vcf.samples %}
        <label class="myCheckbox btn btn-primary active">
            <input type="checkbox" checked autocomplete="off">{{ sample }}</input>
        </label> 
    {%- endfor %}
</div>
<table id="joint_calling" class="table table-striped display" width="100%">
    <thead>
        <tr>
            {%- for col in module.vcf.columns %}
                <th style="text-align:center"> {{ col }} </th>
            {%- endfor %}
        </tr>
    </thead>
    <tbody align="center">
        {%- for variant in module.vcf.variants %}
        <tr>
            {%- for col in module.vcf.columns %}
                {%- if col in module.vcf.vcf.samples %}
                    <td data-toggle="tooltip"
                        data-placement="bottom"
                        title="Depth: {{ variant.samples[col].data.DP }}&#10;GT: {{ variant.samples[col].data.GT }}&#10;GL: {{ variant.samples[col].data.GL }}"
                        {%- if variant.resume[col]|float > module.vcf.vcf.filters_params['frequency'] %}
                            class="bg-success"
                        {%- else %}
                            class="bg-danger"
                        {%- endif %}
                        > {{ variant.resume[col] }} </td>
                {%- else %}
                    <td> {{ variant.resume[col] }} </td>
                {%- endif %}
            {%- endfor %}
        </tr>
        {%- endfor %}
    </tbody>
</table>
