
/*
 * ┌──────────────────────────────────────────────────────────────────────────┐
 * │                                                                 Document │
 * └──────────────────────────────────────────────────────────────────────────┘
 */

body {
    margin-bottom: 3em; 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2em;
    background-color: #eee;
    border-top: 3px solid #aaaaaa;
}

header {
    background: black;
    color:white;
}

h2 {
    color: #326598;
    padding-left:  1em;
    margin-left:  -1em;
    margin-right: 25%;
    padding-bottom: .5em;
    border-bottom: 2px solid #326598;
}

h3 {
    border-bottom: 1px solid #efefef;
    color: #326598;
}

h1.title {
    margin-bottom:  0.0em;
    padding-bottom: 0.0em;
    margin-top:  0.2em;
    padding-top: 0.4em;
    text-align: center;
}
h2.subtitle {
    font-size:     1.0em;
    padding-top:   0.5em;
    color:         #999;
    border-bottom: none;
    margin-top:  0.2em;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0.2em;
    text-align: center;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a {
    color: #326598;
    text-decoration: none;
}

a:hover {
    color: #326598;
    text-decoration: underline;
}

hr {
    /*margin-top: 1em;
    border: 3px solid;
    color:grey;*/
    height:12px;
    border:0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}

/*
 * ┌──────────────────────────────────────────────────────────────────────────┐
 * │                                                                    Table │
 * └──────────────────────────────────────────────────────────────────────────┘
 */

table.table.dataTable th {
    padding: 8px 9px;
}

table.table.dataTable td {
    padding: 5px 5px;
}

th {
    text-align: center;
}

/*
 * ┌──────────────────────────────────────────────────────────────────────────┐
 * │                                                                    Image │
 * └──────────────────────────────────────────────────────────────────────────┘
 */
img {
    
    max-width: 66%;
    border: 3px solid gray;
    max-height: 66%;
    border-radius: 10px;
}


.align-right {
    float: right;
}

.aling-left {
    float: left;
}



/*
 * ┌──────────────────────────────────────────────────────────────────────────┐
 * │                                                                   Figure │
 * └──────────────────────────────────────────────────────────────────────────┘
 */
.figure
{
    margin-top:    1em;
    margin-bottom: 1em;
}

/*
 * ┌──────────────────────────────────────────────────────────────────────────┐
 * │                                                                  summary │
 * └──────────────────────────────────────────────────────────────────────────┘
 */

div.summary
{

font-size:0.8em;
border: 1px solid;

padding: 5px;
left-margin:5px;
}    

/*
 * ┌──────────────────────────────────────────────────────────────────────────┐
 * │                                                                     Code │
 * └──────────────────────────────────────────────────────────────────────────┘
 */
tt {
    font-family: monospace;
}

pre {
    padding:    .5em;
    line-height: 1.25em;
    border-left: 3px solid #cccccc;
    background-color: #ffffff;
    font-family: monospace;
    margin-bottom: 1em;

    whitewhite-space: pre-wrap;       /* css-3 */  
    whitewhite-space: -pre-wrap;      /* Opera 4-6 */  
    whitewhite-space: -o-pre-wrap;    /* Opera 7 */  
    word-wrap: break-word;       /* Internet Explorer 5+ */  
    whitewhite-space: -moz-pre-wrap;  /* Older Versions of Mozilla */ 
}

.code {
    height:400px;
    background-color: #99CCFF;
    padding:20px;
    margin-top:10px;
    border-bottom:5px solid #3399FF;
    overflow: scroll;
}

dl.docutils > dd {
    margin-left: 2em;
/*    font-size: 90%;*/
}

dl.docutils > dt {
    font-style: italic;
    color: #000099;
}
.classifier {
    font-style: normal;
    color: #000000;
}
.classifier-delimiter {
    font-style: normal;
    color: #000000;
}

dl > dt  {
    font-family: monospace;
}

dl.method, dl.attribute, dl.function, dl.class {
    margin-bottom: 1em;
}
dl.class > dt, dl.function > dt, dl.method > dt, dl.attribute > dt {
    padding: .25em;
    margin-top: 2em;
    background: #eeeeee;
}
.descname {
    font-weight: bold;
}
