{% extends "base.html" %}
{% block content %}

{% if bam_is_present == true %}
<div class="section" id="Summary">
    <h2><a class="toc-backref" href="#id1">Summary</a></h2>
    <a href=""> </a>
    {{ summary_bam }}
</div>


<div class="section" id="mapq">
    <h2><a class="toc-backref" href="#id1">MAPQ</a></h2>
    MAPQ is the mapping quality score for a read. A MAPQ of 0 shows reads 
    with multiple occurrence (possibility of multiple alignment with same MAPQ score)
    and unmapped reads. More the score is high more the alignment is reliable.

    <img src="{{ bar_mapq }}"> </>
</div>

{% endif %}

{% if quast_is_present == true %}

<div class="section" id="mapq">
    <h2><a class="toc-backref" href="#id1">QUAST</a></h2>
    {{ quast_link }}
</div>

{% endif %}

<div class="section" id="Chromosomes/Contigs">
    <h2><a class="toc-backref" href="#id1">Chromosomes</a></h2>
Sequencing depth analysis of chromosomes or contigs are available in the table.

    {{ list_chromosome }}
</div>

{% endblock %}
