{% extends "base.html" %}
{% block content %}

<!--    <div class="contents local topic" id="contents">
        <ul class="simple">
            <li> 1 - <a class="reference internal" href="#Stats" id="id1">
                Stats</a></li>
            <li> 2 - <a class="reference internal" href="#Dependencies"
                id="id11">Dependencies</a> </li>
        </ul>
    </div>
-->
<div class="section" id="Parameters">
    
</div>

<div class="section" id="Variant detected">
    <h2> 2 -  <a class="toc-backref" href="#id1">Variant detected</a></h2>
This table present variant detected by freebayes after filtering. 
There are {{ nb_variant }} variants detected.
You can download the table as csv format on this 
<a href={{ csv_link }} download={{ csv_link }}>link</a> and the vcf file
<a href={{ vcf_link }} download={{ vcf_link }}>here</a>.

{{ vcf_filter }}

Note: the freebayes score can be understood as 1 - P(locus is homozygous given 
the data).
</div>
{% endblock %}
