{#  head.html

    Contains metadata of html page and javascript package.

    The <head> element is a container for metadata (data about data) and is
    placed between the <html> tag and the <body> tag.
#}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="template/report.css" type="text/css" />
<title> Sequana report </title>

<script src="js/sorttable.js"></script>
<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="js/canvasjs.min.js"></script>
