{% extends "base.html" %}
{% block content %}

<!--    <div class="contents local topic" id="contents">
        <ul class="simple">
            <li> 1 - <a class="reference internal" href="#Stats" id="id1">
                Stats</a></li>
            <li> 2 - <a class="reference internal" href="#Dependencies"
                id="id11">Dependencies</a> </li>
        </ul>
    </div>
-->
<script type="text/javascript" src="{{ path }}js/jquery-2.1.1.js"></script>
<script type="text/javascript">
$(document).ready(function () {

	$.ajax({
		type: "GET",
        url:{{ input_df }},
		dataType: "text",
		success: function(data) {processData(data);}
	});

	function processData( allText ) {
		var allLinesArray = allText.split("\n");
		if( allLinesArray.length > 0 ){
			var dataCov = [];
            var dataRm = [];
			for (var i = 0; i < allLinesArray.length - 1; i++) {
                var rowData = allLinesArray[i].split(',');
				dataCov.push({x: parseInt(rowData[1]), y: parseInt(rowData[2])});
                dataRm.push({x: parseInt(rowData[1]), y: parseInt(rowData[3])});
			}
			drawChart(dataCov, dataRm);
		}
	}

	function drawChart(dataCov, dataRm) {
		var chart = new CanvasJS.Chart("chartContainer", {
            zoomEnabled: true,
            zoomType: "x",
            exportEnabled: true,
			title:{
				text: "Coverage of filtered reads and not"
			},
            legend: {
				verticalAlign: "right",
				horizontalAlign: "center"
            },
			data: [
			{
				type: "line",
                name: "Filtered coverage",
                showInLegend: true,
				dataPoints: dataCov
			},
            {
                type: "line",
                name: "Unfiltered coverage",
                showInLegend: true,
                dataPoints: dataRm
            }
			],
            legend:{
                cursor:"pointer",
                itemclick:function(e){
                    if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                        e.dataSeries.visible = false;
                    }
                    else{
                        e.dataSeries.visible = true;
                    }
                    chart.render();
                }
            }
		});
		chart.render();
	}
});
</script>
<script type="text/javascript" src="{{ path }}js/canvasjs.min.js"></script>


<div class="section" id="Coverage">
    <h2> <a class="toc-backref" href="#id1">Coverage</a></h2>
    <div id="chartContainer" style="height: 400px; width: 100%;"></div>
</div>

<h2><a class="toc-backref" href="#id1">Regions of Interest</a></h2>
Running median is the median computed along the genome using a sliding window.
The following tables give regions of interest detected by sequana. Here is some captions:
<ul>
    <li>mean_cov: the average of coverage</li>
    <li>mean_rm: the average of running median</li>
    <li>mean_zscore: the average of zscore</li>
    <li>max_zscore: the higher zscore contains in the region</li>
</ul>


<div class="section" id="Low coverage region">
    <h3><a class="toc-backref" href="#id1">Low coverage region</a></h3>
Region with a zscore lower than {{ low_cov_threshold_2 }} and at least one base
with a zscore lower than {{ low_cov_threshold }} are detected as low 
coverage region. Thus, there are {{ nb_low_region }} low coverage regions.

    {{ low_coverage }}
</div>

<div class="section" id="High coverage region">
    <h3><a class="toc-backref" href="#id1">High coverage region</a></h3>
Region with a zscore higher than {{ high_cov_threshold_2 }} and at least on base
 with a zscore higher than {{ high_cov_threshold }} are detected as high 
coverage region. Thus, there are {{ nb_high_region }} high coverage regions.

    {{ high_coverage }}
</div>


{% endblock %}
